html {
    height:100vh;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:100%;
    display:grid;
    grid-template-rows: 4rem 1fr;
    overflow-y: overlay;
}

main {
    margin: 0 auto 2rem;
    max-width: 79rem;
    padding: 0 2rem;
}

    
h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
    margin-top: 2rem;
}

p {
    margin-bottom: 1rem;
    text-indent: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    gap: 2rem;
}

/* Header / navbar */
header {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.35rem;
}

header nav {
    margin-right: 1rem;
}

header ul {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
}

header li {
    margin: 0 1rem;
}

header li a {
    color:rgb(32, 32, 100);
}

header li a:hover {
    font-size: 1.5rem;
}

.name {
    margin: 0 2rem;
    min-width: fit-content;
}

.current-page {
    color: blue;
}

#about-me {
    margin: 2rem auto;
    align-items: center;
}

#about-me-story {
    float:left;
    text-align: left;
}

#about-me img {
    width: 100%;
    border: 2px solid rgb(247, 253, 255);
    border-radius: 0.4rem;
}

#about-me .img-container {
    float: right;
    width: 15rem;
    margin-left: 2rem;
}

@media only screen and (max-width: 650px) {
    p {
        font-size: 1.125rem;
    }

    h1 {
        text-align: center;
    }

    #about-me .img-container {
        float: none;
        width: 70%;
        margin: 1rem auto;
    }
}

.expand-header {
    background-color: rgb(228, 224, 237);
    height: 4rem;
    padding: 1.25rem 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    border: none;
    width: 100%;
    text-align: left;
}

.expand-header::after {
    color: black;
    content: '\00002B';
    float: right;
    vertical-align: text-bottom;
}

.active {
    background-color: darkgray;
    transition: 0.2s ease-in-out;
}

.active::after {
    content: '\002212';
    transition: 0.2s ease-in-out;
}

.project-about {
    max-height: 0;
    overflow: hidden;
    /* display: none; */
    transition: 0.2s ease-in-out;
}

.project-about-container {
    padding: 1.5rem 2rem;
    border: darkgray solid 0.125rem;
}

.platform-logo {
    position: relative;
    bottom: 0.125rem;
    height: 2rem;
    width: auto;
    vertical-align: middle;
}

/* Contact.html */

.contact {
    justify-content: center;
    align-items: center;
    height: 100%;
}

#contact-container {
    line-height: 1.5;
}

#contact-container h1 {
    text-align: center;
}

footer {
    width: 79rem;
    padding: 0 2rem;
    margin: 0 auto;
}

footer p {
    display: inline;
}

.align-right {
    float: right;
}